body{
    background-image: url(http://images.mid-day.com/images/2017/may/2-Telanghana-results.jpg);
    background-size: cover;
    margin: 0px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:black;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
    font-family: bold;
}

li a:hover {
    background-color: red;
    color:black;
}
.button {
    background-color: black;
    border:2px solid color:white;
    color: white;
    padding: 15px 32px;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     margin-left: 630px;
     border-radius: 10px;
}
.button:hover{
    background-color: chocolate;
    color:brown ;
}
.button:active {
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}
h1{
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 50px;
    text-decoration: underline;
}
.result{
    text-align: center;
    font-size: 20px;
    color:black;
    font-style: bold;
}
    